body {
  background-color: Azure;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

hr {
  width: 5%;
}

h1 {
  font-size: 45px;
  font-family: 'Dancing Script', cursive;
}


h3 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 22px;
}

a {

}


ul {
}

.contacts {
  font-size: 24px;
}



/***************************** ID Selector ************************************
#mainHeading {
  background-color: red;
}
*/
