body {
  background-color: Azure;
  display: inline-block;
  vertical-align: middle;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 8px;
  width: 5%;
}

h3 {
  background-color: #eeecda;
  display:inline-block;
  color: #66BFBF;
}

h1 {
  background-color: #eeecda;
  display:inline-block;
  border-radius: 5%;
  color: #41aea9
}

table {
  border-spacing: 15px;
}

p {
  font-size: 20px;
}

.contacts {
  font-size: 30px;
}



/***************************** ID Selector ************************************
#mainHeading {
  background-color: red;
}
*/
